bdd100k/images/100k/test/*
!bdd100k/images/100k/test/.gitkeep
bdd100k/images/100k/train/*
!bdd100k/images/100k/train/.gitkeep
bdd100k/images/100k/val/*
!bdd100k/images/100k/val/.gitkeep

bdd100k/labels/100k/test/*
!bdd100k/labels/100k/test/.gitkeep
bdd100k/labels/100k/train/*
!bdd100k/labels/100k/train/.gitkeep
bdd100k/labels/100k/val/*
!bdd100k/labels/100k/val/.gitkeep

token
utils.py
coco_utils.py
coco_eval.py
engine.py
transforms.py
train_backup.py
__pycache__/*